{% extends 'rango/base.html' %}
{% load static %}
{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
<div class="jumbotron">
	<h1 class="display-3">Rango Says ...</h1>
	{% if user.is_authenticated %}
		<h1> hey there {{user.username}}</h1>
	{% else %}
		<h1> Hey there partner ! </h1>
	{% endif %}
</div>
<div class ="row marketing">
	<div class="col-lg-6">
		<h4> Most Liked categories </h4>
		<p>
		{% if categories %}
		<ul>
			{% for category in categories %}
			<li><a href="{% url 'rango:show_category' category.slug %}">
			{{category.name}} </a></li>
			{% endfor %}
		</ul>
		{% else %}
			<strong> there are no categories present </strong>
		{% endif %}
		<a href="{% url 'rango:add_category' %}"> Add category </a>
		</p>
	</div>
	<div class ="col-lg-6" >
		<h4> Most viewed Pages </h4>
		<p> {% if pages %}
			<ul>
				{% for page in pages %}
				<li><a href ="{{page.url}}">{{page.title}}</a></li>
				{% endfor %}
			</ul>
			{% else %}
				<strong> there are no categories present </strong>
			{% endif %}
		</p>
	</div>
</div>
<img src = "{% static "image/rango.jpg" %}" alt="Picture of Rango" />
{% endblock %}
